<script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
></script>

<div  style="display: flex;justify-content: center; flex-direction: column;">
		<h2 style="text-align: center;"><b>Programming languages </b> </h2>


	<div class="borderline" style="display: flex;justify-content: center; flex-direction: row;">
		
		<div>
			<p style="font-size: 2.5rem; text-align: center;"><b >The map</b></p>
			<div id="mynetwork">

			</div>
		</div>

			
		<div style="display: flex;justify-content: center; flex-direction: column;">
			<div >
				<p style="font-size: 2rem; text-align: center;"><b >Python basics</b></p>
				<p style=" text-align: center;"> Python basics. Working with strings, using file systems, opening, saving, editing, using closures, resolving examples and more...</p>
				<p style="font-size 1.5 rem; text-align: center;"> <i>Average completion time: 2 hours</i>	</p>
				<p style="font-size: 2rem; text-align: center;"><b>JavaScript basics</b></p>
				<p style=" text-align: center;"> Getting better in Node.js, express.js, Handlebars. Starting use modules, requireing some packets as chulk, ejs, charts. Working with strings, using file systems, opening, saving, editing, using closures, resolving examples and more... </p>
				<p style="font-size 1.5 rem; text-align: center;"> <i>Average completion time: 2.5 hours</i> </p>
			</div>
		</div>
	</div>
	<div>
		<h5 style="font-size: 3rem; text-align: center;"> <a href="courses">Get started</a> </h5>
	</div>
</div>
<style type="text/css">
      #mynetwork {
        width: 620px;
        height: 480px;
      }
    </style>
<script type="text/javascript">
      // create an array with nodes
	var nodes = new vis.DataSet([
		{id: 1, label: 'Programming languages', 
			url: "/", 
			color: "#AFAFFF",
			physics: false,
			font:{size: 20} },
		{id: 2, label: 'Python',
			url: "/courses/2" ,  
			color: "#22EF92",
			physics: false,
			font:{size: 20} },
		{id: 3, label: 'JavaScript', 
			url: "/courses/1", 
			color: "#FFFF00",
			physics: false,
			font:{size: 20} }
	]);

	// create an array with edges
	var edges = new vis.DataSet([
		{from: 1, to: 2, width: 5},
		{from: 1, to: 3, width: 5}
	]);

	// create a network
	var container = document.getElementById('mynetwork');

	// provide the data in the vis format
	var data = { nodes: nodes, edges: edges };
	var options = {
		nodes:{
			shape: "circle"
		}
	};

	// initialize your network!
	var network = new vis.Network(container, data, options);

	network.on("doubleClick", function(properties) {
		if(!properties.nodes.length) return;

		var node = nodes.get(properties.nodes[0]);
		window.open(node.url, "_blank");
	});
</script>
