{{#if levels}}  

{{#each levels}}
	<div class="row" style="display: flex; justify-content: center;">
		<div style= "margin: 20px" class="card light-green lighten-5">
				<div class="card-content black-text">                      
					<a href="./practice/{{this.level}}">Difficulty level: {{this.level}}</a> 
					<p class="changeMePls">{{this.description}}</p>
				</div>
		</div>
	</div>
{{/each}}

{{else}}
    <p>There are no tickets yet!</p>
{{/if}} 